{% extends "base.html" %}
{% block title %}Список Roadmap{% endblock %}


{% block content %}

{% if tasks.exists %}

<table class="table table-striped">
    <caption>Сборники задач:</caption>
    <thead>
    <tr>
        <th>Навание Roadmap:</th>
    </tr>
    </thead>

    {% for road in tasks %}
    <tr>
        <td>{{ road.roadmap_name }}</td>
        <td><a href={% url 'killer' road.id %}>удалить</a></td>
    </tr>
    {% endfor %}
</table>

{% else %}

<div class="well">Сборники отсутствуют, <a href={% url 'create_roadmap' %}>создать</a></div>

{% endif %}

{% endblock %}
