{% extends "base.html" %}
{% block title %}Задачи{% endblock %}

{% block content %}

{% if tasks.exists %}

{% load tz %}
{% get_current_timezone as TIME_ZONE %}


<table class="table table-striped">
    <caption>Задачи:</caption>
    <thead>
    <tr>
        <th>Навание задачи</th>
        <th>Готова/нет</th>
        <th>Ожидаемая дата решения</th>
        <th>Сборник</th>
    </tr>
    </thead>

    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td>{% if task.state %} Готова {% else %} Надо доделать {% endif %}</td>
        {% timezone TIME_ZONE %}
        <td>{{ task.estimate|date:"d N Y, H:i" }}</td>
        {% endtimezone %}
        <td>{{ task.roadmap.roadmap_name }}</td>
        <td><a href={% url 'edit_tsk' task.id %}>Редактировать</a></td>
        <td>{% if not task.state %} <a href={% url 'task_ready' task.id %}>задача решена</a>{% endif %}</td>
        <td><a href={% url 'del_tsk' task.id %}>удалить</a></td>
    </tr>
    {% endfor %}
</table>

{% else %}

<div class="well">Задачи отсутствуют</div>

{% endif %}

{% endblock %}
