<!DOCTYPE html>
<html>
    <head>
        <title>213</title>
    </head>
    <style>
    .redtext {
    color: red; /* Красный цвет выделения */
    }
    </style>
    <body>
        Большой брат определил вас как: {{ request.user }}

        {% block content %}{% endblock %}


    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}



        {% if form.errors %}
        <h6>ОШИБКИ формы!<h6>
        <ul>
            {% for key,value in form.errors.items %}
                <li>{{ key|escape }} : {{ value|escape }}</li>
            {% endfor %}
         </ul>
        {% endif %}

    </body>
</html>
