{% extends "base.html" %}

{% block title %}Создание Roadmap{% endblock %}

{% block content %}
    <h2>Создать Roadmap</h2>
    <form action="{% url 'create_roadmap' %}" method="post">
        {% csrf_token %}
        <br>
        <div class="col-xs-6">
            <div class="input-group">
                <input type="text" class="form-control" name="roadmap_name" placeholder="{{ form.roadmap_name.label }}" required>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Создать</button>
                </span>
            </div>
        </div>
    </form>

    <br>

{% endblock %}
